.carousel {
  height: 23rem;
  width: 100%;

  box-sizing: border-box;
  margin: 0.5rem;
}
.carouselItems {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;

  overflow: hidden;
}
.date {
  text-align: start;
  color: rgb(196, 196, 196);
}

.carouselItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 23rem;
  width: 13rem;
  margin: 0.1rem 0.7rem;
}
.block {
  margin-top: 1.3rem;
}
.carouselImage {
  height: 80%;
  width: 90%;
  cursor: pointer;
  /* padding: 2rem; */
  border-radius: 10px;
  background-position: center;
}
.carousel {
  position: relative;
}
.textBox {
  padding: 4px 7px;
  font-size: 1.2rem;
  color: white;
  text-align: left;
}
.date {
  padding: 4px 7px;
}

.left {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0;
  /* color: rgb(128, 128, 128, 0.8); */
  color: white;
  cursor: pointer;

  height: 75%;
  top: 0;
  opacity: 0;
}
.left:hover,
.right:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.right {
  opacity: 0;
  cursor: pointer;
  height: 75%;

  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  color: white;
  cursor: pointer;
}
.circleBar {
  position: absolute;
  top: 16.5rem;
  left: 1;
  background-color: white;
  width: 45px;
  height: 45px;
  /* padding: 2px; */
  border-radius: 50%;
}
