body {
  font-family: Calibri;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1b1b1b; */
  background-color: #04152d;
  overflow-x: hidden;
  scroll-behavior: smooth;
  letter-spacing: 0.7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --white: #e1e1e2df;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::--webkit-scrollbar {
  display: none;
}
